
<div>
<img src="/assets/pasaporte.jpg" alt="Passport" class="pasaporte">
<%# if @form.errors.any? %>
	<!-- <ul>
		<%# @form.errors.full_messages.each do |error_msg| %>
			<li><%#= error_msg %></li>
		<%# end %>
	</ul> -->
<%# end %>
<div class="form_fiance">

<%= form_for [@user, @form],:url => {:action => "new_create", :id => @user} do |f| %>
	<%= f.label :answer, 'Are you  at least 18 years old at the time of filling and have been a permanent resident of the U.S?' %>:
	<%#= f.label "Is the petitioner a U.S citizen?"%><br>
	<%= f.label :answer, 'True' %>
	<%= f.radio_button :answer, "true", :value=> true%>
	<%= f.label :answer, "False" %>
	<%= f.radio_button :answer, "false", :value=> false%>
	<br>
	<%= f.label :answerb, "Have you lived within the state os USCIS district where you claim residence for at least 3 months prior to filling and you are able to demonstrate physical presence within the U.S for a specified period of time?" %><br>
	<%= f.label :answerb, "True" %>
	<%= f.radio_button :answerb, "true", :value=> true%>
	<%= f.label :answerb, "False" %>
	<%= f.radio_button :answerb, "false", :value=> false%>
	<br>
	<%= f.label :answerc, "Are you able to demon,strate continuos residence for a period of time and good moral character?" %><br>
	<%= f.label :answerc, 'True' %>
	<%= f.radio_button :answerc, "true", :value=> true%>
	<%= f.label :answerc, 'False' %>
	<%= f.radio_button :answerc, "false", :value=> false%>
	<br>
	<%= f.label :answerd, " Are you able to demonstrate attachment to the principles and ideals of the U.S constitution, basic knowleadge of history and government and are willing to take and Oath of allegiance to the united states?  " %><br>
	<%= f.label :answerd, 'True' %>
	<%= f.radio_button :answerd, "true", :value=> true%>
	<%= f.label :answerd, 'False' %>
	<%= f.radio_button :answerd, "false", :value=> false%>
	<br>
	<%= f.submit 'Save' %>
	<%= link_to('Back', user_forms_path(@user)) %>
<% end %>
</div>
